# VITE_API_BASE_URL=http://localhost:8080/api
VITE_API_BASE_URL=http://192.168.10.101:8080/api
# VITE_API_BASE_URL=http://10.145.31.209:8080/api
# VITE_API_BASE_URL=http://10.147.222.209:8080/api
# VITE_API_BASE_URL=/api